<html>

<head>
<title>Birds Are Dying: A Random Proverb Generator </title>
<link rel="stylesheet" type="text/css" href="style.css"> 
</head>

<body>
<h1> Birds Are Dying: A Random Proverb Generator </h1>
<form action="/" method="post">
<input type="submit" value="Bestow Wisdom Upon Me">
</form>
<h2> History </h2>
<%= proverb %>
</body>

</html>