body {
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyfDiDuqg1DXIFTXdUaP7zXA6IxSBKb0HopzSxQQ2GNGKBFQU_Yw')
}

img:hover {
	display: inline-block;
	-webkit-transform: rotateX(180deg);
}

