<html>

<head>
<title>Birds Are Dying: A Random Proverb Generator </title>
<link rel="stylesheet" type="text/css" href="style.css"> 
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Elsie' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="pure-g">

<div class="pure-u-1-2" id="title">
<h1> Birds Are Dying: A Random Proverb Generator </h1>

<img id='bird' src="http://freepngimages.com/wp-content/uploads/2014/05/bird_1.png">
</div>

<div class="pure-u-1-4" id='center'>

<form action="/" method="post">
<div id='generator'>
<input type="submit" value="Bestow Wisdom Upon Me" id="button">
</form>
<br>
<p id="newest">
<b><%=session[:proverbs].last %></b>
</p>
<br>
</div>
</div>
<div class="pure-u-1-4" id='history'>
<div id='heading'><h2><u> Earlier Wise Words </u></h2> </div>
<% session[:proverbs].reverse.each_with_index do |proverb, i|%>
<%if i !=0 %>
<%= proverb %>
<br>
<br>
<%end%>

<%end%>

</div>
<!-- <div class='background'>

</div> -->
</body>

</html>